<div class="overflow-x-auto">
  <table class="table table-auto">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="hover">
        <td><a>Product Title</a></td>
        <td>€799.99</td>
        <td>In stock</td>
        <td>
          <button class="btn btn-primary btn-xs">Add to Cart</button>
        </td>
      </tr>
      <!-- row 2 -->
      <tr class="hover">
        <td><a>Product Title</a></td>
        <td>€799.99</td>
        <td>In stock</td>
        <td>
          <button class="btn btn-primary btn-xs">Add to Cart</button>
        </td>
      </tr>
      <!-- row 3 -->
      <tr class="hover">
        <td><a>Product Title</a></td>
        <td>€799.99</td>
        <td>In stock</td>
        <td>
          <button class="btn btn-primary btn-xs">Add to Cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
